.place__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-decoration-line: underline;
    transition: opacity 0.2s ease;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
   
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__link {
       margin-left: 16px;
       margin-right: 16px;
    }
}